/*Resets*/
h1, h2, h3 {
	color:#949494 !important;  
	background:inherit;
}
body{
	color:#d9dbdb; 
}
.edit .gender label {
	display: block;
	margin-left: 15px;
	padding:0 15px;
}
.edit .form-label {
	padding: .5em;
}
.edit .gender {
	padding: .5em;
}
.chat-box {
	padding:15px;
}
}
.chat-box .chat-control{
	/*position: absolute;*/
	top:15px;
}
.chat-box .chat-control button{
	margin-top:15px;
	float: right;
}
.chat-box .chat-convo{
	margin-top:70px;
}
.chat-box .chat-convo .next{
    width: 100%;
    padding: 15px;
    text-align: center;
    display: block;
}
.chat-box .chat-msg{
	padding:15px;
	/*border:1px solid;*/
	border-radius: 8px;
	margin:5px;
}
.chat-box .chat-msg img {
	width:100px;
	display: inline-block;
}
.chat-box .chat-msg p {
	width:100%;
	overflow-wrap: break-word;
}
.chat-box .chat-msg p.time{
	font-size: 12px;
}
.chat-box .chat-msg.from {
	text-align: right;
	background-color: #0085ff;
	color:white ;
    margin-right: 69px;
}

.chat-box .chat-msg.to {
	text-align: left;
	background-color: #f2f1f1;
	color:black;
	margin-left: 60px;
}

.chat-box .chat-msg.from .remove{
    border-radius: 44px;
    background-color: red;
    width: 20px;
    text-align: center;
    color: white;
    top: -23px;
    position: absolute;
}

.chat-box .chat-msg.to .remove{
    border-radius: 44px;
    background-color: red;
    width: 20px;
    text-align: center;
    color: white;
    top: -23px;
    left:-5px;
    position: absolute;
}

.remove {
	transition: all .4s;
}
.remove:hover{
	color:red;
	text-decoration: none;
}

.button-like {
-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    border:0;
}
#content{
	overflow: inherit;
}
.clear{
	clear: both;
}
#search{
	margin-bottom:15px;
}
.select2-container .select2-selection--single {
	height: auto;
	padding:5px;
}
.gender legend{
	color:black;
}
.chat-msg-container {
	position: relative;
}
.chat-msg-container img {
	width:50px;
	
}
.chat-msg-container{
	margin-top:30px;

}
.chat-msg-container a{
	z-index: 9;
}
.chat-msg-container a.from{
    position: absolute;
    right: 30px;
    bottom: 0;
}
.chat-msg-container a.to {
	position: absolute;
	left:30px;
    bottom: 0;
}

.profile h1, .profile h2{
	text-align: center;
	color:white !important;
}
.profile p {
	text-align: center;
	color:#9a9a9a; 
}
.profile td{
	text-align: center;
	border:0;
	background-color:inherit;
}
.hobby p{
	text-align: left;
}
.profile img {
	margin:15px 0;
}
.hobby p{
	padding:0 15px;
	color:black;
	word-wrap: break-word;
}
.hobby a {
	display: block;
	margin: 15px auto;
	width:90px;
	padding:5px;
	text-align: center;

}

.edit h1{
	color:white !important;
	margin:0;
	padding:15px 0;
}
.edit form .error, form .error-message {
	color:inherit;
}

.edit form .error{
	background:inherit;
}

#UserGender1 {
	margin-left:5px;
}
#UserGender2 {
	margin-left:5px;
}